@import 'common/global';


.no-display {
    display: none;
}

.modal {
    position: absolute;
    background-color: rgb(0,0,0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    &__text {
        position: absolute;
        top: 10vh;
        color: white;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }
    &__btn-start {
        height: 2em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-transform: uppercase;
        background-color: #000000;
        color: white;
        border: 1px solid black;
        transition: 0.25s ease-in;
        font-size: 3rem;
        padding: 0.5em 1em;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            border: 1px solid white;
        }
    }
}

.game {
    position: absolute;
    color: #ccc;
}